<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.SmartVigilanceConnectionString"
            connectionString="Data Source=localhost,65356;Initial Catalog=SmartVigilance;Persist Security Info=True;User ID=TK"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.SmartVigilanceConnectionString1"
            connectionString="Data Source=10.8.252.6,65356;Initial Catalog=SmartVigilance;Persist Security Info=True;User ID=TK;Password=Injen8pulse"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>