<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicePhone" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:25143/ServicePhone.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServicePhone" contract="ServiceReference.IServicePhone"
                name="BasicHttpBinding_IServicePhone" />
        </client>
    </system.serviceModel>
</configuration>